<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9 col-xl-8">
        <div class="card shadow-lg rounded-4">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #2b2b2b; height: 200px;">
            <div class="ms-4 mt-5 d-flex flex-column align-items-center" style="width: 150px;">
              <!-- Show User's Profile Image if available -->
              <img *ngIf="profile.image" [src]="'data:image/jpeg;base64,' + profile.image" alt="User Image" class="img-fluid img-thumbnail rounded-circle mt-4 mb-2" style="width: 150px; z-index: 1">
              <!-- If no image, use a placeholder image -->
              <img *ngIf="!profile.image" src="https://i.pinimg.com/236x/bb/df/ec/bbdfecbe813809bf72def9772538e323.jpg" alt="Placeholder Image" class="img-fluid img-thumbnail rounded-circle mt-4 mb-2" style="width: 150px; z-index: 1">
              
              <!-- Buttons Group -->
              <div class="d-flex mt-3">
                <button type="button" id="button"(click)="goToEditProfile()" class="btn btn-outline-light text-dark mx-2" style="z-index: 2; border-radius: 20px; color:black">
                  Edit Profile
                </button>
                <button type="button" id="button" (click)="goTochangepassword()" class="btn btn-outline-light text-dark mx-2" style="z-index: 2; border-radius: 20px; color:black">
                  Edit Password
                </button>
              </div>
            </div>
            <div class="ms-3 mt-4" id="title">
              <h5 class="fw-bold" style="color:white">{{ profile.firstname }} {{ profile.lastname }}</h5>
              <p class="text-white-50">{{ profile.email }}</p>
            </div>
          </div>
          <div class="p-4 text-black bg-light">
            <div class="d-flex justify-content-end">
              <button id="butt"type="button" (click)="logout()" class="btn btn-primary" style="z-index: 1;">
                Logout
              </button>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1 text-muted">About</p>
              <div class="p-4 bg-light rounded-3">
                <p class="font-italic mb-1"><strong>Role:</strong> {{ profile.role.name }}</p>
                <p class="font-italic mb-1"><strong>Date of Birth:</strong> {{ profile.dateOfBirth | date: 'dd/MM/yyyy' }}</p>
                <p class="font-italic mb-0"><strong>Account Created:</strong> {{ profile.createdDate | date: 'dd/MM/yyyy' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMsg" class="alert alert-danger mt-4">
    <p>{{ errorMsg }}</p>
  </div>
</section>
