<!-- add-reservation.component.html -->
<div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="border-radius: 0;">
        <div class="modal-header bg0 p-b-16 p-t-16">
          <h5 class="modal-title mtext-112 cl2 p-b-10">
            <i class="zmdi zmdi-calendar-note m-r-10"></i>
            Add Reservation
          </h5>
          <button type="button" class="close" (click)="cancel()" aria-label="Close">
            <span aria-hidden="true" class="cl2">&times;</span>
          </button>
        </div>
        
        <div class="modal-body p-t-20 p-b-20 p-l-25 p-r-25">
          <div class="flex-w flex-sb p-b-20">
            <div class="size-210 bor10 p-lr-20 p-t-15 p-b-15 m-r-20 m-b-20">
              <h4 class="mtext-109 cl2 p-b-10">
                {{ event?.title }}
              </h4>
              <p class="stext-115 cl6 p-b-5">
                <i class="zmdi zmdi-time m-r-10"></i>
                {{ event?.date | date: 'mediumDate' }}
              </p>
              <p class="stext-115 cl6">
                <i class="zmdi zmdi-pin m-r-10"></i>
                {{ event?.location || 'Location not specified' }}
              </p>
            </div>
          </div>
        </div>
  
        <div class="modal-footer flex-w flex-sb-m p-t-20 p-b-20 p-l-25 p-r-25">
          <button type="button" 
                  class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-10"
                  (click)="cancel()">
            Cancel
          </button>
          <button type="button" 
                  class="flex-c-m stext-101 cl0 size-125 bg1 bor2 hov-btn1 p-lr-15 trans-04"
                  (click)="addReservation()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>