
#logimg
{
  height : 100% ;
}

#log
{

  height: 40px;  
  font-size: 15px;
  
}


.vh-100 {
    height: 100vh;
  }
  
  .login-card {
    border-radius: 1rem;
  }
  
  .login-image {
    border-radius: 1rem 0 0 1rem;
  }
  
  .logo-icon {
    color: #ff6219;
  }
  
  .btn-dark {
    background-color: #fb9678;
    border: none;
  }
  
  .btn-dark:hover {
    background-color: #fca68c;
  }

  .custom-register-btn {
    color: #fb9678 !important; 
    font-weight: bold; 
    text-decoration: none; 
  }
  
  .custom-register-btn:hover {
    color: #fb9678; 
  }
  
  