#butt
{
    background-color: #fb9678;
    border: none;
}

#butt:hover {
    background-color: #fca68c;
  }

#log
  {
    color: #fb9678 !important; 
    font-weight: bold; 
    text-decoration: none;
  }

