<div class="business-list-container">
    <!-- Filter and Business List Section -->
    <div class="bg0 m-t-23 p-b-140">
      <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
          <!-- Category Filters -->
          <div class="flex-w flex-l-m filter-tope-group m-tb-10">
            <button
              class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
              [ngClass]="{'how-active1': selectedCategory === ''}"
              (click)="filterByCategory('')"
            >
              Toutes mes entreprises
            </button>
  
            <button
              *ngFor="let category of categories"
              class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
              [ngClass]="{'how-active1': selectedCategory === category}"
              (click)="filterByCategory(category)"
            >
              {{ category | titlecase }}
            </button>
          </div>
  
          <!-- Filter and Search Buttons -->
          <div class="flex-w flex-c-m m-tb-10">
            <div
              class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4"
              (click)="toggleFilter()"
            >
              <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
              <i
                class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close"
                [ngClass]="{'dis-none': !showFilter}"
              ></i>
              Filtrer
            </div>
  
            <div
              class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4"
              (click)="toggleSearch()"
            >
              <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
              <i
                class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close"
                [ngClass]="{'dis-none': !showSearch}"
              ></i>
              Rechercher
            </div>
          </div>
  
          <!-- Search Panel -->
          <div class="panel-search w-full p-t-10 p-b-15" [ngClass]="{'dis-none': !showSearch}">
            <div class="bor8 dis-flex p-l-15">
              <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                <i class="zmdi zmdi-search"></i>
              </button>
              <input
                class="mtext-107 cl2 size-114 plh2 p-r-15"
                type="text"
                [(ngModel)]="searchQuery"
                (input)="searchBusinesses()"
                placeholder="Rechercher mes entreprises"
              />
            </div>
          </div>
  
          <!-- Filter Panel -->
          <div class="panel-filter w-full p-t-10" [ngClass]="{'dis-none': !showFilter}">
            <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
              <div class="filter-col1 p-r-15 p-b-27">
                <div class="mtext-102 cl2 p-b-15">Trier par</div>
                <ul>
                  <li class="p-b-6">
                    <a
                      href="#"
                      class="filter-link stext-106 trans-04"
                      [ngClass]="{'filter-link-active': sortBy === 'default'}"
                      (click)="sortBusinesses($event, 'default')"
                    >
                      Par défaut
                    </a>
                  </li>
                  <li class="p-b-6">
                    <a
                      href="#"
                      class="filter-link stext-106 trans-04"
                      [ngClass]="{'filter-link-active': sortBy === 'name'}"
                      (click)="sortBusinesses($event, 'name')"
                    >
                      Nom
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Business Grid -->
        <div class="container business-grid">
          <h2 class="section-title">Mes entreprises</h2>
  
          <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto" *ngFor="let business of paginatedBusinesses">
              <div class="block1 wrap-pic-w">
                <img
                  [src]="getLogoUrl(business.logo)"
                  alt="{{ business.name }}"
                  class="business-image"
                  (error)="onImageError($event, business)"
                />
                <a
                  [routerLink]="['/my-business', business.idBusiness]"
                  class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
                >
                  <div class="block1-txt-child1 flex-col-l">
                    <span class="block1-name ltext-102 trans-04 p-b-8">{{ business.name }}</span>
                    <span class="block1-info stext-102 trans-04">
                      {{ business.categorieBusiness || 'Général' }}
                    </span>
                    <span class="block1-info stext-102 trans-04">
                      Note: {{ business.averageRating | number: '1.1-1' }} ({{ business.ratingCount }} votes)
                    </span>
                  </div>
                  <div class="block1-txt-child2 p-b-4 trans-05">
                    <div  class="block1-link stext-101 cl0 trans-09">Voir détails</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
  
          <!-- Pagination -->
          <mat-paginator
            [length]="filteredBusinesses.length"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)"
            aria-label="Sélectionner une page d'entreprises"
          ></mat-paginator>
  
          <!-- Empty State -->
          <div class="empty-state" *ngIf="filteredBusinesses.length === 0 && !loading">
            <mat-icon class="empty-icon">business</mat-icon>
            <h3>Aucune entreprise disponible</h3>
            <p>Vous n'avez pas encore ajouté d'entreprises.</p>
          </div>
  
          <!-- Loading State -->
          <div class="text-center p-t-50" *ngIf="loading">
            <mat-spinner diameter="50"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
