<h2>Delivery Agencies List</h2>

<input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" class="form-control mb-3" placeholder="Search for an agency...">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Agency Name</th>
      <th>Address</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agency of filteredAgencies">
      <td>{{ agency.agencyName }}</td>
      <td>{{ agency.address }}</td>
      <td>{{ agency.phoneNumber }}</td>
    </tr>
  </tbody>
</table>

<app-pagination
  [totalItems]="filteredTotalItems"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (pageChanged)="onPageChanged($event)">
</app-pagination>