<div class="container">
    <h2>Add product</h2>
    
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <!-- Nom du produit -->
      <mat-form-field appearance="fill">
        <mat-label>Nom du produit</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="productForm.get('name')?.hasError('required')">
          Le nom du produit est obligatoire
        </mat-error>
        <mat-error *ngIf="productForm.get('name')?.hasError('minlength')">
          Le nom doit contenir au moins 2 caractères
        </mat-error>
        <mat-error *ngIf="productForm.get('name')?.hasError('maxlength')">
          Le nom ne peut pas dépasser 30 caractères
        </mat-error>
      </mat-form-field>
  
      <!-- Description -->
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
        <mat-error *ngIf="productForm.get('description')?.hasError('required')">
          La description est obligatoire
        </mat-error>
        <mat-error *ngIf="productForm.get('description')?.hasError('minlength')">
          La description doit contenir au moins 10 caractères
        </mat-error>
        <mat-error *ngIf="productForm.get('description')?.hasError('maxlength')">
          La description ne peut pas dépasser 500 caractères
        </mat-error>
      </mat-form-field>
  
      <!-- Prix -->
      <mat-form-field appearance="fill">
        <mat-label>Prix (€)</mat-label>
        <input matInput type="number" step="0.01" formControlName="price">
        <mat-error *ngIf="productForm.get('price')?.hasError('required')">
          Le prix est obligatoire
        </mat-error>
        <mat-error *ngIf="productForm.get('price')?.hasError('min')">
          Le prix doit être strictement supérieur à 0
        </mat-error>
      </mat-form-field>
  
      <!-- Stock -->
      <mat-form-field appearance="fill">
        <mat-label>Stock</mat-label>
        <input matInput type="number" formControlName="stock">
        <mat-error *ngIf="productForm.get('stock')?.hasError('required')">
          Le stock est obligatoire
        </mat-error>
        <mat-error *ngIf="productForm.get('stock')?.hasError('min')">
          Le stock doit être supérieur ou égal à 0
        </mat-error>
        
      </mat-form-field>
      

      <div class="image-section">
        <input type="file" #fileInput hidden (change)="onImageSelected($event)" accept="image/*">
        <button mat-stroked-button type="button" (click)="fileInput.click()">
          <mat-icon>image</mat-icon>
          {{ selectedImage ? 'Changer l\'image' : 'Ajouter une image' }}
        </button>
        
        <div *ngIf="imagePreview" class="image-preview">
          <img [src]="imagePreview" alt="Prévisualisation de l'image du produit">
        </div>
      </div>
   
  
    
  
      <!-- Boutons -->
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading || productForm.invalid">
          {{ isLoading ? 'Ajout en cours...' : 'Ajouter' }}
        </button>
        <button mat-stroked-button color="warn" type="button" >
          Annuler
        </button>
      </div>
    </form>
  </div>