.page-content {
  margin: 80px auto 40px auto;
  max-width: 1000px;
}

.mat-form-field {
  margin-bottom: 16px;
}

.mat-raised-button, .mat-flat-button {
  min-width: 120px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
