<div class="rating-container" *ngIf="!isLoading; else loadingSpinner">
  <div class="stars" *ngIf="!errorMessage; else errorTemplate">
    <span
      *ngFor="let star of [1, 2, 3, 4, 5]"
      class="star"
      [class.filled]="star <= userRating || star <= hoverRating"
      (click)="rate(star)"
      (mouseenter)="setHoverRating(star)"
      (mouseleave)="clearHoverRating()"
    >
      ★
    </span>
  </div>
  <ng-template #errorTemplate>
    <p class="error">{{ errorMessage }}</p>
  </ng-template>
</div>
<ng-template #loadingSpinner>
  <div class="spinner">Chargement...</div>
</ng-template>