<!-- Filtres -->
<div class="mb-3">
  <label for="typeFilter">Filtrer par type :</label>
  <select [(ngModel)]="selectedType" (change)="applyFilter()" class="form-control w-25">
    <option value="ALL">Tous</option>
    <option *ngFor="let type of reclamationTypes" [value]="type">{{ type }}</option>
  </select>
</div>

<!-- Tableau filtré -->
<table class="table table-bordered table-striped">
  <thead class="thead-light">
    <tr>
      <th>Type </th>
      <th>Description</th>
      <th>Date</th>
      <th style="width: 120px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of filteredReclamations">
      <td>{{ r.type }}</td>
      <td>{{ r.description }}</td>
      <td>{{ r.reclamationDate | date:'short' }}</td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="delete(r.reclamationId!)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
